<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>918502685740-oe9r6m9mvlfvv6f3rajs3kpuf4nmmita.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918502685740-oe9r6m9mvlfvv6f3rajs3kpuf4nmmita</string>
	<key>API_KEY</key>
	<string>AIzaSyCiSat3Sg9MmKMpm6b3b4YIfwv8ULSTbGI</string>
	<key>GCM_SENDER_ID</key>
	<string>918502685740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.byoungil.youn.Warning</string>
	<key>PROJECT_ID</key>
	<string>warning-b5ae9</string>
	<key>STORAGE_BUCKET</key>
	<string>warning-b5ae9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:918502685740:ios:1089845470cc3ccbe9e589</string>
</dict>
</plist>